/* ===========================================================================*\
   Larger dropdowns

   ┌────────────────┬──────────────────────────────────────────────────────┐
   │ Modifier       │ Purpose                                              │
   │----------------│------------------------------------------------------│
   │ &--button      │ Dropdowns which are also buttons, e.g in page editor │
   │ &--dropup      │ Menu opens above the dropdown                        │
   │ &--match-width │ Menu width matches the dropdown width                │
   │ &--warning     │ Theme color: warning theme                           │
   │ .white         │ Theme color: white (possibly to be deleted)          │
   │ .is-open       │ State: dropdown is open                              │
   └────────────────┴──────────────────────────────────────────────────────┘

\* ===========================================================================*/

.c-large-dropdown {
    $root: &;

    @include clearfix();
    position: relative;

    // start dropdown main button styles
    input[type=submit],
    input[type=reset],
    input[type=button],
    button,
    .button {
        padding: 0;
        display: block;
        width: 100%;
        height: 3em;
        line-height: inherit; // not sure this line is necessary
        text-align: left;
        padding-left: 1em;
        float: left;
    }

    // Overrides shared styles just above
    .button {
        line-height: 3em;
    }

    &--button.is-open {
        > input[type=button],
        > input[type=submit],
        > button,
        > .button {
            border-radius: 3px 3px 0 0;
        }
    }

    &--dropup.is-open {
        > input[type=button],
        > input[type=submit],
        > button,
        > .button {
            border-radius: 0 0 3px 3px;
        }
    }
    // end dropdown main button styles

    // start ul styles
    ul {
        @include unlist();
        @include transition(opacity 0.2s linear);
        background-color: $color-teal;
        position: absolute;
        overflow: hidden;
        top: 100%;
        left: -2000px;
        z-index: 500;
        opacity: 0;
    }

    &--match-width ul {
        width: 100%;
        min-width: 110px;
    }

    &.is-open ul {
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
        opacity: 1;
        left: 0;
        display: block;
    }

    &--dropup.is-open ul {
        box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.2);
        top: auto;
        bottom: 100%;
    }
    // end ul styles

    // start li styles
    li {
        float: none;
        border-color: rgba(255, 255, 255, 0.2);
        border-style: solid;
        border-width: 1px 0 0;
        overflow: hidden;
    }

    &--match-width li {
        white-space: nowrap;
    }

    &--dropup li {
        border-width: 0 0 1px;
    }
    // end li styles

    // These were nested under ul and I don't want to mess anything up
    ul {
        a,
        input[type=submit],
        input[type=reset],
        input[type=button],
        .button,
        button {
            border-radius: 0;
            font-size: 0.95em;
            -webkit-font-smoothing: auto;
        }

        // See also shared styles just above
        a {
            box-sizing: border-box;
            white-space: nowrap;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            color: $color-white;
            padding: 1em;
            font-weight: normal;

            &:hover {
                background-color: $color-teal-darker;
            }
        }

        .icon {
            padding-right: 5em;

            &::before,
            &::after {
                right: 1em;
            }
        }

        .shortcut {
            padding-right: 7em;
        }

        label {
            padding: 1.3em;
        }

        // Not sure this is actually in use
        .kbd {
            position: absolute;
            right: 1em;
            font-weight: 600;
            font-size: 0.8em;
            color: rgba(0, 0, 0, 0.3);
        }
    } // /ul

    &__toggle {
        color: $color-white;
        text-transform: uppercase;
        background-color: $color-teal;
        line-height: 2.8em;
        cursor: pointer;
        height: 100%;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        position: absolute;
        right: 0;
        padding: 0 0.5em;
        text-align: center;

        &:hover,
        #{$root}.is-open & {
            background-color: $color-teal-darker;
        }

        #{$root}--button &,
        #{$root}--button.is-open & {
            border-radius: 0 3px 3px 0;
        }

        #{$root}--button.is-open#{$root}--dropup & {
            border-radius: 0 0 3px;
        }

        &::before,
        &::after {
            margin: 0;
        }

        &::before {
            width: 1em;
            font-size: 1.2rem;
        }
    }

    //=====================================================================
    // THEMING
    //=====================================================================

    // I don't see this in any HTML files.
    &.white {
        ul {
            background-color: $color-white;

            li {
                border-top: 1px solid rgba(0, 0, 0, 0.1);
            }

            a {
                color: $color-grey-2;

                // stylelint-disable-next-line max-nesting-depth
                &:hover {
                    background-color: $color-grey-3;
                }
            }
        }
    }

    &--warning {
        ul {
            background-color: $color-button-warning;
        }

        #{$root}__toggle {
            background-color: $color-button-warning;

            &:hover {
                background-color: $color-button-warning-hover;
            }
        }
    }
}
